/* ====================================================== */
/*                     NATURALIZE V2.0                    */
/*                       BY MAX29XD                       */
/*                     IG @MARCOS_LBB                     */
/* ====================================================== */

/* ======================= FUENTES ====================== */
/* ============== FUENTE POPPINS (OPCIONAL) ============= */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(../fonts/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
		U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(../fonts/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
		U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
		U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
		U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(../fonts/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
		U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(../fonts/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
		U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(../fonts/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
		U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(../fonts/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
		U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../fonts/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
		U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(../fonts/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
		U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* ====================== VARIABLES ===================== */
:root {
	--font-primary: 'Poppins', Helvetica, Arial, sans-serif;
	--white-color: #f2f2f2;
	--black-color: #1a1a1a;
	--select-color: #154383;
}
/* ================== ESTILOS GLOBALES ================== */
* {
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	vertical-align: baseline;
	overflow-x: hidden;
	/* ==== DESHABILITA LA SELECCIÓN DE TEXTO (OPCIONAL) ==== */
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}
/* ================ DESPLAZAMIENTO SUAVE ================ */
html {
	scroll-behavior: smooth;
}
/* ====================== SELECCION ===================== */
::-moz-selection {
	background-color: var(--select-color);
	color: var(--white-color);
}
::-moz-selection,
::selection {
	background-color: var(--select-color);
	color: var(--white-color);
}
/* ============== ONE PAGE FULL (OPCIONAL) ============== */

/*
section {
    width: 100%;
    height: 100vh;
}
*/

/* ============ ELIMINAR SCROLLBAR (OPCIONAL) =========== */

/*
::-webkit-scrollbar {
	width: 0;
    background-color: transparent;
}
*/

/* ============== ESTILOS DE LA TIPOGRAFIA ============== */
body {
	font-size: 100%;
	font-family: var(--font-primary);
	min-height: 100vh;
	line-height: 1.3rem;
	color: var(--black-color);
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	hyphens: auto;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
}
/* ================ MULTIMEDIA RESPONSIVA =============== */
picture,
img,
source,
video,
iframe,
figure {
	width: 100%;
	height: auto;
	max-width: 100%;
	object-fit: cover;
	-o-object-fit: cover;
	-o-object-position: center center;
	object-position: center center;
}
/* ======================= SVG FIX ====================== */
svg {
	width: 100%;
	display: block;
	fill: currentColor;
}
/* ==== ETIQUETAS DE TEXTO SIN ESTILOS Y RESPONSIVAS ==== */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
strong,
a,
i,
b {
	font-size: 1rem;
	font-weight: inherit;
	font-style: inherit;
	color: inherit;
	width: 100vw;
}
a {
	display: block;
	color: inherit;
	font-size: inherit;
}
p a {
	display: inline;
}
/* ================= PSEUDOELEMENTO FIX ================= */
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
/* =============== FORMULARIO SIN ESTILOS =============== */
form,
input,
textarea,
button,
select,
label {
	display: block;
	font-family: inherit;
	font-size: inherit;
	background-color: transparent;
	color: inherit;
	hyphens: auto;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
/* ================== TABLA SIN ESTILOS ================= */
table,
tr,
td {
	border-spacing: 0;
	border-collapse: collapse;
}
/* ========== MODO OSCURO PREFERS COLOR SCHEME ========== */
@media (prefers-color-scheme: dark) {
	:root {
		--black-color: #f2f2f2;
	}
}
/* =============== DESACTIVAR ANIMACIONES =============== */
@media (prefers-reduced-motion: reduce) {
	* {
		animation: none !important;
		-webkit-animation: none !important;
		transition: none !important;
		-webkit-transition: none !important;
		-moz-transition: none !important;
		-ms-transition: none !important;
		-o-transition: none !important;
	}
}
