/* ------------------------------------------------------ */
/*                     NATURALIZE V1.0                    */
/*                       BY MAX29XD                       */
/*                     IG @MARCOS_LBB                     */
/* ------------------------------------------------------ */

/* ------------------------------------------------------ */
/*                        VARIABLES                       */
/* ------------------------------------------------------ */
:root {
	--font-primary: sans-serif, Arial, Helvetica;
    --color-white: #ffffff;
    --color-black: #383838;
    --color-select: #154383;
}
/* ------------------------------------------------------ */
/*                    ESTILOS GLOBALES                    */
/* ------------------------------------------------------ */
* {
	margin: 0;
	padding: 0;
	border: none;
    list-style: none;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	vertical-align: baseline;
/* ---------------------- OPCIONAL ---------------------- */
/* ---------- DESHABILITA LA SELECCIÓN DE TEXTO --------- */
    user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}
/* ---------------- DESPLAZAMIENTO SUAVE ---------------- */
html {
	scroll-behavior: smooth;
}
::-moz-selection,
::selection {
	background-color: var(--color-select);
	color: var(--color-white);
}
/* ---------------------- OPCIONAL ---------------------- */
/* -------------------- ONE PAGE FULL ------------------- */
/*
}section{
    width: 100%;
    height: 100vh;
}
*/
/* ---------------------- OPCIONAL ---------------------- */
/* ----------------- ELIMINAR SCROLLBAR ----------------- */
/* 
::-webkit-scrollbar {
	width: 0;
    background-color: transparent;
} 
*/
/* ------------------------------------------------------ */
/*                ESTILOS DE LA TIPOGRAFÍA                */
/* ------------------------------------------------------ */
body {
	font-size: 100%;
	font-family: var(--font-primary);
	color: var(--color-black);
    min-height: 100vh;
	line-height: 1.3rem;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
}
/* ------------------------------------------------------ */
/*                  MULTIMEDIA RESPONSIVA                 */
/* ------------------------------------------------------ */
picture,
img,
source,
video,
iframe,
figure {
    display: block;
    width: 100%;
	max-width: 100%;
    object-fit: cover;
	-o-object-fit: cover;
/* ---------------------- OPCIONAL ---------------------- */
	-o-object-position: center center;
	object-position: center center;
}
/* ------------------------------------------------------ */
/*      ETIQUETAS DE TEXTO SIN ESTILOS Y RESPONSIVAS      */
/* ------------------------------------------------------ */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
strong,
a,
i,
b {
	font-size: 1rem;
	font-weight: inherit;
	font-style: inherit;
	color: inherit;
}
a {
	display: block;
	color: inherit;
	font-size: inherit;
}
p a {
	display: inline;
}
/* ------------------------------------------------------ */
/*                 FORMULARIO SIN ESTILOS                 */
/* ------------------------------------------------------ */
form,
input,
textarea,
button,
select,
label {
    display: block;
	font-family: inherit;
	font-size: inherit;
	background-color: transparent;
	color: inherit;
}
/* ------------------------------------------------------ */
/*                   TABLAS SIN ESTILOS                   */
/* ------------------------------------------------------ */
table,
tr,
td {
    border-spacing: 0;
	border-collapse: collapse;
}